<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Magick.NET-Q16-AnyCPU" version="7.0.0.0016" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="SteamKit2" version="1.6.4" targetFramework="net45" />
  <package id="SteamWebAPI" version="1.0.13" targetFramework="net45" />
</packages>